{% extends 'adminlte/base.html' %}

{% block title %}My App{% endblock %}
{% block content %}
<!-- Main content -->
    <div class="error-page">
        <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
        <p>
            We could not find the page you were looking for.
            Please, you may <a href="/web">return to dashboard</a>.
        </p>
        <h2 class="headline text-yellow"> 404 - Error</h2>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
{% endblock %}